@model IEnumerable<Redweb.BikeShop.Core.Models.Product>
@{
    ViewBag.Title = "All Products";
}
<body>
<h2>All Products</h2>
    <table class="table table-striped table-hover ">
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Model</th>
            <th>Price (£)</th>
            <th>Colour</th>
            <th>Size</th>
            <th style="width:30%">Description</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <th>@product.Code</th>
                <th>@product.Name</th>
                <th>@product.Category.Name</th>
                <th>@product.Subcategory.Name</th>
                <th>@product.Model.Name</th>
                <th>£@product.Price</th>
                <th>
                    @if (product.Colour != null)
                    {
                        @product.Colour.Name
                    }
                </th>
                <th>
                    @if (product.Size != null)
                    {
                        @product.Size.Name
                    }
                </th>
                <th style="width:30%">@product.Description</th>
            </tr>
        }
    </table>
</body>
