@model Redweb.BikeShop.Core.ViewModels.SearchProductsViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Main Search";
}

<ul class="breadcrumb voffset5">
    <li>
        <a href="@Url.Action("Index", "Home")">
            Home
        </a>
    </li>
    <li class="active">Main Search</li>
</ul>
<body>
    <h3>Search Products</h3>
    @using (Html.BeginForm("Search", "Search"))
    {
        <div class="searchfilters">
            <div id="searchProducts" class="searchbar">
                @Html.TextBoxFor(m => m.SearchTerm, new { @class = "searchbar", placeholder = "Search for products" })
                <button type="submit" class="btn btn-primary btn-sm hoffset1">Search</button>
            </div>
            <div class="sortingwrapper">
                @Html.Label("Sort By")
                @Html.DropDownListFor(m => m.SortType, new SelectList(Model.SortTypes), "", new { @class = "form-control", onchange= "this.form.submit();" })
            </div>
        </div>
        <p align="right">Page @(Model.NumberOfPages < Model.PageNumber ? 0 : Model.PageNumber) of @Model.NumberOfPages</p>
    }
    <table class="table table-striped table-hover voffset4">
        <tr>
            <th>Image</th>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Model</th>
            <th>Price (£)</th>
            @if (Model.ShowActions)
            {
                <th colspan="2">Actions</th>
            }
        </tr>
        @if (!Model.AllProducts.Any())
        {
            <tr>
                <th colspan="9">
                    <div class="text-center voffset3">No Items Found</div>
                </th>
            </tr>
        }
        @foreach (var product in Model.AllProducts)
        {
            <tr>
                <th>
                    <img src="@product.DetailImageUrl" alt="@product.Name Image" class="centerImage" , width="50">
                </th>
                <th>@product.Code</th>
                <th>
                    <a href="@Url.Action("SearchProductDetails", "Products", new {id = product.GenerateSlug()})">
                        @product.Name
                    </a>
                </th>
                <th>@product.Category.Name</th>
                <th>@product.Subcategory.Name</th>
                <th>@product.Model.Name</th>
                <th>£@product.Price</th>
                @if (Model.ShowActions)
                {
                    <th>
                        <a href="@Url.Action("EditDetails", "Products", new {id = product.Id})">
                            Edit Product
                        </a>
                    </th>
                    <th>
                        <a href="#" class="js-delete-product" data-product-id="@product.Id">
                            Delete Product
                        </a>
                    </th>
                }
            </tr>
        }
    </table>
</body>
<p align="left">
    @Html.PagedListPager(Model.AllProducts, page => Url.Action("MainSearch", new { page }))
</p>


@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-delete-product").click(function(e) {
                var link = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you would like to delete this product?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            classname: "btn-default",
                            callback: function() {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            classname: "btn-danger",
                            callback: function() {
                                $.ajax({
                                        url: "/api/products/" + link.attr("data-product-id"),
                                        method: "DELETE"
                                    })
                                    .done(function() {
                                        link.parents("tr").fadeOut(function() {
                                            $(this).remove();
                                        });
                                    })
                                    .fail(function() {
                                        alert("Error deleting product");
                                    });

                            }
                        }
                    }
                });
            });
        })

        $(function () {
            $('#submit').change(function () {
                this.form.submit();
            });
        });
    </script>
}